/* App.css */
@font-face {
  font-family: 'ThaleahFat';
  src: url('./assets/fonts/ThaleahFat.ttf') format('truetype');
}
@font-face {
  font-family: 'cpixel';
  src: url('./assets/fonts/C&C.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'ThaleahFat', sans-serif; /* Add your custom font here */
}

.App {
  background-size: 100% 78%;
  background-repeat: no-repeat;
  font-family: 'ThaleahFat', sans-serif;
  overflow: hidden; /* Hide all scrollbars */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Distribute children with space between */
  background-color: #fff; /* Optional: background color */
}

.main-text {

  font-size: 15vh; /* Increase the font size */
  text-align: center;
  color: #333; /* Adjust color as needed */
  margin: auto; /* Center text vertically */
  margin-top: 5%;
}

#road {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%; /* Adjust the height as needed */
  background: rgb(66, 70, 84); /* Background of the road */
}
#grass {
  position: absolute;
  bottom: 20%; /* Align with the bottom of the road */
  width: 100%;
  height: 2%;
  background: #112318; /* Background of the grass */
}
#stripes {
  position: absolute;
  bottom: 50%; /* Align with the bottom of the road */
  width: 100%;
  height: 5%;
  background: repeating-linear-gradient(
          to right,
          white,
          white 5vw,
          transparent 2vw,
          transparent 10vw
  );
}
#car {
  position: absolute;
  bottom: 70%; /* Position it above the road */
  left: -31%; /* Center the car horizontally */
  width: 30%; /* Maintain the aspect ratio */
  height: auto; /* Example height, adjust as needed */
  z-index: 10; /* Ensure the car is above the road and stripes */
  overflow:hidden;
}
#mile-marker-0{
  position: absolute;
  bottom: 0%; /* Align with the bottom of the road */
  left: 35%; /* Align with the left of the road */
  width: 10%;
  height: auto;

}

#text-display-1{
  height: 35vh;
  width: auto;

}


.text-display-container {
  position: absolute;
  text-align: center;
  color: black;
  /*top: -36vh;*/
  left: 5vw;
  font-size: 1.9rem; /* Adjust font size as needed */

    border-image-source: url('/src/assets/new_display.png'); /* Use the uploaded image path */
    border-image-slice: 34 30 38 31 fill;
    border-image-width: 4vh 4vh 4vh 4vh;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
}
.googlemap{
  position: relative;
  top: 3.2vh;
  left: 1.5vw;
  width: 27vw;
  /*padding-left: ;*/
  padding-right: 6%;
  /*margin-bottom: 1vh;*/
  height:27.5vh
}
.map-display-container {
  position: absolute;
  text-align: center;
  color: black;
  top: -35vh;
  height: 34vh;
    width: 30vw;
  left: 48vw;
  font-size: 1.9rem; /* Adjust font size as needed */

  border-image-source: url('/src/assets/new_display.png'); /* Use the uploaded image path */
  border-image-slice: 34 30 38 31 fill;
  border-image-width: 4vh 4vh 4vh 4vh;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
}

.display-text {
  position: relative;
  padding-top: 0.5%;
  padding-left: 4.5vh;
  padding-right: 6%;
  text-align: left;
  line-height: 2rem;
  font-family: cpixel,sans-serif;
  z-index: 2;
}
.date-text{
  position: relative;
  padding-top: 4vh;
  padding-left: 4.5vh;
  /*padding-left: ;*/
  padding-right: 6%;
  /*margin-bottom: 1vh;*/
  text-align: left;
  line-height: 2rem;
  font-family: cpixel,sans-serif;
  z-index: 2;
}
#mile-sign-counter{
  height: 28vh;
  width: 18vw;
}
.mile-sign-container {
  position: absolute;
  text-align: center;
  color: black;
  top: -29vh;
  left: 80vw;
  font-size: 1.5vw; /* Adjust font size as needed */
  line-height: 5vh;
}
.mile-sign-text {
  position: absolute;
  top: 14%;
  padding-left: 14%;
  padding-right: 8%;
  text-align: left;


}
