/* App.css */

.App {
  font-family: sans-serif;
  overflow: hidden; /* Hide all scrollbars */
  width: 100vw;
  height: 100vh;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #fff; /* Optional: background color */
}

.main-text {
  font-size: 6rem; /* Increase the font size */
  text-align: center;
  color: #333; /* Adjust color as needed */
}
.road {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust the height as needed */
  background: #333; /* Simple road color, or use a background image */
  z-index: -1; /* Ensure it's behind other elements */
}